<div class="information">
  <% if show_details %>
    <p>Gacha information:</p>

    <ul>
      <li>
        Rare: <%= sprintf('%g', gacha.rare / 100.0) %>%
        (<%= gacha.rare_cats.size %> cats)
        <%= show_gacha_slots(gacha.rare_cats) %>
      </li>
      <li>
        Super: <%= sprintf('%g', gacha.supa / 100.0) %>%
        (<%= gacha.supa_cats.size %> cats)
        <%= show_gacha_slots(gacha.supa_cats) %>
      </li>
      <li>
        Uber: <%= sprintf('%g', gacha.uber / 100.0) %>%
        (<%= gacha.uber_cats.size %> cats)
        <%= show_gacha_slots(gacha.uber_cats) %>
      </li>
      <li>
        Legendary: <%= sprintf('%g', gacha.legend / 100.0) %>%
        (<%= gacha.legend_cats.size %> cats)
        <%= show_gacha_slots(gacha.legend_cats) %>
      </li>
    </ul>
  <% end %>
</div>
